
.emulation-datetime-local {
	display: inline-block;
	background-color: white;
	border: thin solid #aaa;
	padding: 0.1em;
}
.emulation-datetime-local input {
	border: none !important;
	width: 1.5em !important;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
}
.emulation-datetime-local input.year {
	width: 3em !important;
}
.chat-dialog {
	width: 440px;
}

.chat-dialog .range-display {
	display: block;
	margin: 6px 6px 10px;
	font-size: 12px;
}

.chat-dialog .output {
	height: 300px;
	height: 40vh;
	width: 30em;
	overflow-y: scroll;
	cursor: default;
}

.chat-dialog .output time {
	margin-right: 0.7em;
	font-weight: bold;
	opacity: 0.9;
}

.chat-dialog p {
	margin: 0;
}

.chat-dialog h2 {
	font-size: 1em;
	margin-top: 2em;
}

.chat-dialog .output article {
	margin-bottom: 2px;
	border-radius: 2px;
	padding: 8px;
}

.chat-dialog article.dispatcher {
	background-color: #f3f3f9;
	margin-right: 2em;
}

.chat-dialog article.driver {
	background-color: #D3F3D3;
	margin-left: 2em;
}

.chat-dialog textarea {
	width: 410px;
}

.chat-dialog  .menu.phrases {
	position: absolute;
	width: 300px;
	right: -300px;
	bottom: 50px;
	display: none;
	padding: 1em;
	background-image: linear-gradient(to bottom, white, #fafafa);
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 4px 10px -1px rgba(200, 200, 200, 0.7);
}

.chat-dialog .phrases.open {
	display: block;
}

.content .chat-dialog .menu.phrases > div {
	display: block;
	font-weight: normal;
}

.chat-dialog .chat-buttons button {
	background-color: white;
	color: black;
	overflow: hidden;
	text-indent: 12px;
	background-size: 16px auto;
	background-position: 4px center;
	background-repeat: no-repeat;
	border-color: #d0d4de;
}

.chat-dialog button.phrases {
	background-image: url("images/menu.svg");
}

.chat-dialog button.reset {
	background-image: url("images/erase.svg");
}

.chat-dialog button.send {
	background-image: url("images/send.svg");
	background-color: #f0f5f9;
	border-color: #92C5F0;
}

.chat-dialog button.send:hover {
	border-color: #9bf092;
	background-color: #E9FBE6;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	background-image: url("images/january.jpg");
	background-size: cover;
}

#order-button-container {
	text-align: right;
}

#orders-container, #tabs-container {
	position: absolute;
	bottom: 10px;
}

#orders-container {
	overflow-y: auto;
	right: 10px;
	width: 300px;
	top: 82px;
}

#tabs-container {
	top: 42px;
	left: 10px;
	right: 320px;
}

#tabs-container .w-tabs {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#tabs-container .w-tabs-bodies {
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	bottom: 0;
	overflow: scroll;
}

#order-button {
	min-width: 6em;
	margin: 14px 10px;
}

#order-button.active {
	background-color: #74C8EF;
}

table.items {
	border-spacing: 0;
	font-size: 10pt;
	min-width: 30em;
	border: thin solid #aaaab0;
}

table.items thead {
	background-color: #dadde6;
}

table.items tfoot {
	background-color: #dadde6;
}

table.items td, table.items th {
	padding: 4px 6px;
	border-bottom: solid 1px #aaaab0;
	text-align: left;
}

.autocomplete {
	z-index: 1;
}
.autocomplete ul {
	margin: 0;
	padding: 0;
}
.autocomplete li {
	list-style-type: none;
	background: white;
	padding: 0.3em 0.5em;
	cursor: pointer;
}
/*.autocomplete li:hover,*/
.autocomplete li.selected {
	background: #eee;
}
.w-layer {
	background: white;
	background-image: linear-gradient(to bottom, white, #fafafa);
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 4px 10px -1px rgba(200, 200, 200, 0.7);
	padding: 1em;

	opacity: 0.95;
	transition-property: opacity;
	transition-duration: 0.5s;
	z-index: 1;
}

.w-layer.focus {
	opacity: 1.0;
	transition-duration: 0s;
	z-index: 2;
	cursor: grab;
	border-color: #D2D2F2;
}

.w-layer.dragging {
	cursor: grabbing;
}

.w-dialog .content {
	margin-bottom: 1em;
	max-width: 45em;
	line-height: 18px;
}

.w-dialog button {
	min-width: 5em;
	margin-right: 2px;
}

.w-dialog .content .menu > div {
	display: inline-block;
	text-align: center;
	min-width: 2.2em;
	border-radius: 2px;
	padding: 2px 6px;
	margin-bottom: 2px;
	margin-right: 2px;
	background-color: #BACCEF;
	color: black;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.w-dialog .content .menu > div:hover {
	background-color: powderblue;
}

.w-toast {
	background-color: black;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	padding: 0.5em 1em;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	z-index: 2;
}
#map-widget .map {
	position: absolute !important /* Leaflet again */;
	left: 7px;
	right: 7px;
	top: 40px;
	bottom: 7px;
}
/*
 * An order block.
 */
#orders-widget .order {
	padding: 0.5em;
	margin-bottom: 4px;
	color: white;
	cursor: pointer;
	overflow: auto;
	transition: background-color 1s;
	font-size: 10pt;
	border-radius: 2px;
}

#orders-widget .postponed .list:before {
	content: "Отложенные";
}

#orders-widget > .current .list:before {
	content: "Текущие";
}

#orders-widget > .closed .list:before {
	content: "Закрытые";
}

#orders-widget .list:empty:before {
	content: "";
}

#orders-widget .current .order {
	background-color: white;
	color: #333;
}

#orders-widget .closed .order {
	background-color: #aaa;
}

/*
 * Cancel button inside an order block.
 */
#orders-widget .order .cancel {
	background-color: #ccc;
	padding: 0.2em 0.5em;
	border-radius: 2px;
	float: right;
	font-size: 9pt;
	color: #666;
}

#orders-widget .order .time:after {
	content: ",";
}

#orders-widget .order .address {
	display: inline-block;
	width: 200px;
	vertical-align: text-top;
}

#orders-widget .order .comments {
	font-style: italic;
}

#orders-widget .order .status {
	color: #DCECF8;
}

#orders-widget a[href] {
	color: inherit;
}

#orders-widget .current .order .status {
	color: #758984;
}

#orders-widget .order.expired {
	background-color: #600;
}

#orders-widget .order.urgent {
	background-color: #fc1a1a;
}

#orders-widget .order.soon {
	background-color: #fc6d1a;
}

#orders-widget .order.far {
	background-color: #77aa66;
}
.w-tabs-head {
	display: inline-block;
	border-right: thin solid #bbb;
	padding: 0.2em 0.5em;
	cursor: pointer;
	border-radius: 0 9px 0 0;
	background-color: #bbb;
}

.w-tabs-head:hover {
	background-color: #dadde6;
}

.w-tabs-head.current {
	padding: 0.2em 0.5em;
	background-color: #f9f9f9;
	color: black;
}

.w-tabs-bodies {
	background-color: #f9f9f9;
	padding: 0.5em;
}
#cars-selector label {
	display: inline;
}

#cars-selector span {
	margin-right: 1em;
}

.queues-table {
	border-spacing: 0;
	border-top: thin solid #bbb;
	border-left: thin solid #bbb;
	width: 1205px;
	margin-top: 5px;
}

.queues-table.dragging td + td.hover {
	background-color: powderblue;
}

.queues-table.dragging {
	cursor: grabbing;
}

.queues-table td {
	padding: 0;
	border-color: black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	height: 20px;
	width: 50px;
	text-align: center;
}

.queues-table th {
	background-color: #f6f6f6;
	padding: 6px;
	border-bottom: 1px solid black;
}

.queues-table .queue-head {
	width: 180px;
	padding-left: 2px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}

.queues-table .number {
	float: right;
	font-size: 10px;
	margin: 3px 2px 1px 0;
	display: block;
	width: 20px;
	text-align: right;
}

.queues-table .subqueue .queue-head {
	padding-left: 16px;
}

.queues-table .queue-head {
	position: relative;
}
.queues-table .priority {
	font-size: 9px;
	position: absolute;
	right: 3em;
	top: 6px;
	display: block;
	width: 2em;
	text-align: center;
	font-family: serif;
}

.queues-table span {
	cursor: pointer;
	margin-right: 0;
	padding: 0;
	font-weight: bolder;
}

.queues-table .car {
	display: block;
	cursor: pointer;
	width: 50px;
	height: 20px;
	padding: 0;
	position: relative;
}

.queues-table .sedan {
	background-position: 0 -0px;
}

.queues-table .hatchback {
	background-position: 0 -20px;
}

.queues-table .estate {
	background-position: 0 -40px;
}

.queues-table .minivan {
	background-position: 0 -60px;
}

.queues-table .bus {
	background-position: 0 -80px;
}



.queues-table .car {
	background-image: url("images/car-icons-ok.png");
}
.queues-table .car.away {
	background-image: url("images/car-icons-away.png");
}
.queues-table .car.busy {
	background-image: url("images/car-icons-busy.png");
}
.queues-table .car.fake {
	background-image: url("images/car-icons-fake.png");
}

.queues-table .offline {
	opacity: 0.4;
}

.queues-table .car.chat:after {
	content: "!";
	font-size: 30px;
	color: red;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: -14px;
}

/*
 * A car selected by a filter in the table.
 */
.queues-table .highlight {
	background-color: #063;
}

/*
 * A car selected by the taxi_id input of an order form.
 */
.queues-table .selected {
	outline: 4px solid #f66;
}

.queues-table tr {
	transition: background-color 0.5s;
}

.queues-table tr.forbidden {
	background-color: #c66;
}

/*
 * Important car position.
 */
.queues-table td.req {
	background-color: #DDE2F6;
}

.queues-table tr.forbidden td {
	background-color: transparent;
}

.queues-table.dragging tr:not(.forbidden) td:hover:not(.queue-head) {
	background-color: #9bf3ea;
}
#status-bar {
	height: 2em;
	position: fixed;
	left: 180px;
	top: 0px;
	right: 8px;
}

#status-bar > div {
	display: inline-block;
}

#status-bar .indicators > span {
	display: inline-block;
	padding: 0.5em 1em;
}

#status-bar .indicators > span.hidden {
	display: none;
}

#status-bar .no-sound {
	background: url("images/mute.svg") no-repeat;
	background-position: 0 50%;
	background-size: 1.5em;
	padding-left: 1.7em;
}

#status-bar .no-ping {
	background-color: #f66;
	color: white;
}

#status-bar .buttons {
	float: right;
}

#status-bar .buttons .settings {
	background-image: url("images/settings.svg");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 4px center;
	text-indent: 14px;
	font-size: 11px;
}
#calc-widget .controls {
	width: 260px;
}

#calc-widget .map {
	position: absolute !important /* Leaflet again */;
	left: 270px;
	top: 7px;
	right: 7px;
	bottom: 7px;
}

#calc-widget .house,
#calc-widget .building {
	width: 3em;
}

#calc-widget .address-picker {
	margin-bottom: 0.5em;
}

#calc-widget label {
	display: inline-block;
	width: 6em;
}

#calc-widget .output {
	margin: 1em;
	padding: 0.5em;
	border: 1px dashed #AD9898;
}

.order-form {
	width: 392px;
}

.order-form .title {
	margin: -1em -1em 1em;
	padding: 0.5em 1em;
}

.order-form .title.speaking {
	background-color: green;
	color: white;
}

.order-form .title.hangup {
	background-color: #a00;
	color: white;
}

.order-form label {
	display: inline-block;
	width: 9em;
	vertical-align: top;
	margin-top: 6px;
}

.order-form label.inline {
	display: inline;
}

.order-form input.wait {
	background-image: url("images/input-waiting.gif");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.order-form input,
.order-form textarea {
	width: 190px;
}

.order-form input[type="radio"],
.order-form input[type="checkbox"] {
	width: auto;
}

.order-form input.house,
.order-form input.building,
.order-form input.entrance,
.order-form input.apartment {
	width: 50px;
}

.order-form .history {
	background-image: url("images/list.svg");
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -99999px;
	overflow: hidden;
}

.order-form .driver,
.order-form .queue-loc,
.order-form .loc,
.order-form .dest-section input,
.order-form .dest-section select {
	font-weight: bold;
}

.order-form .more {
	text-decoration: underline;
	cursor: pointer;
}

.order-form .more:after {
	content: "...";
}
